<h1>Inicia sesión</h1>

<form action="/auth/login" method="POST">

<label for="username">Username: </label>
<input type="text" name="username">

<br>

<label form="email">E-mail: </label>
<input type="email" name="email">

<br>

<label for="password">Password: </label>
<input type="password" name="password">

<br>

<h4>{{errorMessage}}</h4>

<br>

<button>Acceder</button>


</form>