<h1>Registra tu usuario</h1>

<form action="/auth/signup" method="POST">

<label form="username">Username: </label>
<input type="text" name="username">

<br>

<label form="email">E-mail: </label>
<input type="email" name="email">

<br>

<label for="password">Password: </label>
<input type="password" name="password">

<br>

<h4>{{errorMessage}}</h4>

<br>

<button>Registrarse</button>


</form>