
{{!-- <h1>Soy la página de registro</h1> --}}

<form action="/auth/signup" class= "formulario" method="POST">

  <label for="username">Usuario:</label>
  <input type="text" name="username" required="true">

  <br>

  <label for="email">Email:</label>
  <input type="email" name="email">

  <br>

  <label for="password">Contraseña:</label>
  <input type="password" name="password">

  <br>

  <h5 style="color: red">{{errorMessage}}</h5>
  
  <br>

  <button type = "submit" class = "logsig-btn">Registrarse</button>

 

</form>