{{!-- <h1>{{appTitle}} 🚀</h1>
<p>Welcome Ironhacker!</p> --}}



<div id="cabecera">
<video id="video" loop autoplay preload muted>
<source src="/videos/Scary intro(1).mp4" type='video/mp4; codecs="avc1,mp4a"' />
<source src="/videos/Scary intro.ogv" type='video/ogg; codecs="theora,vorbis"' />
<source src="/videos/Scary intro.webm" type='video/webm; codecs="vp8,vorbis"' />
</video>
<h1>IRON BLUETERROR</h1>
{{!-- <h3>Prepárate para pasar miedo!</h3> --}}
</div>
