<h1>Soy el listado de películas</h1>

<div>
    {{#each listMovies}}
        <img src="{{this.cover}}" style="height: 200px;">
        <a href="/movies/{{this._id}}"><h5>{{this.title}}</h5></a>
    {{/each}}
</div>