{{!-- <h1>Soy el listado de películas</h1> --}}

<div class="row row-cols-1 row-cols-md-4 g-2">

     {{#each listMovies}}

  <div class="col">
    <div class="cardlist">
      <img src="{{this.cover}}" class="card-img-top" alt="cardIm">
      
      <div class="card-body">
      <a href="/movies/{{this._id}}"><h5>{{this.title}}</h5></a>
      </div>
    </div>
  </div>

   {{/each}}


   
</div>

