<h1>Crea una nueva peli</h1>

<form action="/movies/create" method="POST" enctype="multipart/form-data">

<div>

<label for="cover">Portada:</label>
<input type="file" name="cover">
<br>
<label for="title">Título:</label>
<input type="text" name="title">
<br>
<label for="director">Director:</label>
<input type="text" name="director">
<br>
<label for="cast">Reparto:</label>
<textarea name="cast" rows="8" cols="33"></textarea> 
<br>
<label for="plot">Argumento:</label>
<textarea name="plot" rows="8" cols="33"></textarea> 
<br>
<label for="year">Año de estreno:</label>
<input type="number" name="year">
<br>
</div>
<br>
<button type="submit">Añadir Película</button>

</form>