<h1>Crea una nueva peli</h1>

<div class="fichaCrearPeli">

    <form action="/movies/create" method="POST" enctype="multipart/form-data">

    

        <h5><label for="cover">Portada:</label></h5>
        <p><input type="file" name="cover"></p>
        
        <h5><label for="title">Título:</label></h5>
        <p><input type="text" name="title"></p>
        
        <h5><label for="director">Director:</label></h5>
        <p><input type="text" name="director"></p>
        
        <h5><label for="cast">Reparto:</label></h5>
        <p><textarea name="cast" rows="8" cols="33"></textarea> </p>
        
        <h5><label for="plot">Argumento:</label></h5>
        <p><textarea name="plot" rows="8" cols="33"></textarea> </p>
        
        <h5><label for="year">Año de estreno:</label></h5>
        <p><input type="number" name="year"></p>


        
        <div class = "botonCrearPeli">
            <button type="submit" class="btnCrearPeli">Añadir.Película</button>
        </div>

    </form>


</div>